.checked {
    color: orange;
}

img {
    width: 100px;
    max-width: 100%;
    height: auto;
}


table {
    width: 300px;
    border-collapse: collapse;
    background-color: #727272;
    border-radius: 20px;


}

table, th, td {
    /*    border: 1px solid black;*/
}

th, td {
    padding: 20px;
    width: 150px;
}

.float_center {
    float: right;

    position: relative;
    left: -20%; /* or right 50% */
    text-align: left;
}

div.ex2 {
    margin-top: 1%;
    box-sizing: border-box;


}